@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --var-dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --var-very-dark-violet: hsl(270, 9%, 17%);
    --var-dark-grayish-violet: hsl(273, 4%, 51%);
    --var-light-gray: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

title {
    display: none;
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    height: auto;
    margin: 0;
}

h1 {
    font-family: 'DM Serif Display', serif; 
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 55px;
}

p {
    line-height: 28px;
}

body {
    position: relative;
}

.top__content {
    display: block;
    height: auto;
}
/**---NAV BAR---**/
.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.nav__logo {
    height: 100px;
}

/**---BURGER MENU---**/
.burger__menu {
    content: " ";
    display: block;
    background-image: url(./images/icon-hamburger.svg);
    float: right;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 15px;
    margin: 25px;
}

.burger__menu--active {
    content: "";
    background-image: url(./images/icon-close.svg);
    width: 32px;
    height: 32px;
    
}

.nav__content {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    max-height: auto;
    height: 600px;
    width: 100vw;
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-color: var(--var-dark-violet);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 45%;
    padding-top: 40px;
    margin-top: 100px;
    position: absolute;
    z-index: 2;
}

.burger__menu--active + .navContent {
    display: flex;
    width: 100%;
    transition: max-height 0.2s ease-out;
}

.nav__content ul {
    padding: 0px;
    margin-top: -260px;
}
.nav__content li {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.nav__content li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.nav__content .plansBtn {
    margin-top: 20px;
}

.nav__content .plansBtn a {
    border: 1px solid white;
    height: auto;
    padding: 20px 120px;
    display: block;
}


.logo {
    float: left;
    padding: 35px;
}



/**---HERO SECTION---**/

.hero {
    display: block;
}

.hero .heroImg__desktop, .background__desktop, .bgBottom__desk {
    display: none;
}


.heroImg__mobile {
    width: 100%;
    max-width: 600px;
    margin: 0px;
    padding: 0px;
}

.hero__copy {
    background-image: url(./images/bg-pattern-intro-left-mobile.svg);
    background-color: var(--var-dark-violet);
    background-size: 45%;
    background-position: top left;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: -4px;
    padding: 70px 20px;
    color: white;
}

.hero__copy h1 {
    margin-bottom: -5px;
}

.hero__copy p {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0.05rem;;
}

.h1Span {
    white-space: normal;
}

.pSpan::after {
    content: "\a";
    white-space: pre;
}

.heroBtn {
    border-color: white;
    background-color: transparent;
    width: 150px;
    height: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px auto 50px auto;
}

.hero__copy .hero__hr {
    display: none;
}

.bgBottom__mobile {
    float: right;
    transform: translateY(-180px);
    width: 140px;
    height: auto;
}

.heroBg__right {
    display: none;
}

/**---MAIN SECTION---**/
.main__section {
    display: block;
    height: auto;
    text-align: center;
    color: var(--var-very-dark-violet);
    
}

.main__hr {
    width: 180px;
    margin: 150px 0px 0px 130px;
    border: 0.5px solid var(--var-dark-grayish-violet);
}

.main__title {
    display: inline-block;
    margin-top: -150px;
    transform: translateY(-140px);
}

.features {
    margin: auto;
    padding: 60px 30px 60px auto;
    height: auto;
    margin-top: -120px;
}

.features p{
    color: var(--var-dark-grayish-violet);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.feature__one, 
.feature__two, 
.feature__three {
    padding-bottom: 60px;
}

.icon__1 {
    margin-left: 150px;
}

/**---CTA SECTION---**/
.cta__section {
    display: block;
    margin: 0px 20px 190px 20px;
}

.cta__content {
    background-image: url(./images/bg-pattern-intro-right-mobile.svg);
    background-color: var(--var-dark-violet);
    background-size: 45%;
    background-position: 180px -115px;
    background-repeat: no-repeat;
    height: 450px;
    text-align: center;
    margin: auto;
    padding: 70px 30px;
    color: white;
}

.cta__content h1{
    padding-bottom: 20px;
    font-size: 2.7rem;
}

.cta {
    background-color: transparent;
    border: 2px solid var(--var-light-gray);
    padding: 18px 30px;
    color: var(--var-light-gray);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1rem;
    word-spacing: 6px;
    margin-bottom: 20px;
}

/**---FOOTER---**/
footer {
    display: block;
}

.branding__content {
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-color: var(--var-light-gray);
    background-repeat: no-repeat;
    background-size: 110%;
    height: 300px;
    width: 100%;
}

.branding__content .logo {
    width: 50%;
    margin: 60px auto 0px auto;
}
.social__media {
    padding-left: 100px;
}

.social__media a img {
    width: 35px;
    height: auto;
    margin: 10px;
}

.hr__footer {
    width: 80%;
    margin-top: 30px;
    border-top: 0.5px solid var(--var-light-gray);
;}

/**---FOOTER - Footer links---**/
.footer__links {
    padding-bottom: 60px;
}

.footer__links ul li {
    list-style: none;
    text-align: center;
    line-height: 35px;
    font-size: 1rem;
}

.footer__links ul li a {
    text-decoration: none;
    color: var(--var-very-dark-violet);
    text-transform: uppercase;
    font-weight: 700;
}

li.main__link {
    padding: 25px 0 25px 0;
}

.footer__links ul .main__link a {
    color: var(--var-dark-grayish-violet);
}

/**---DESKTOP VERSION---**/
@media screen and (min-width: 56rem) {
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0px;
        padding: 0px;
    }
    .logo {
        cursor: pointer;
        margin-left: 130px;
    }

    .burger__menu {
        display: none;
    }

    .top__content {
        display: inline-block;
    }

    .nav__content {
        display: inline-block;
        margin-top: 0px;
        margin-left: 350px;
        padding-right: 40px;
        background: transparent;

    }
    .nav__content ul {
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: auto;
        float: right;
        margin-top: -20px;
    }

    .nav__content ul li a {
        color: var(--var-dark-grayish-violet);
        font-size: 1rem;
    }

    .nav__content ul li a:hover {
        color: var(--var-very-dark-violet);
    }

    .nav__content .plansBtn a {
        margin-top: -30px;
        border: 0.5px solid var(--var-very-dark-violet);
        padding: 12px 40px;
    }

    .nav__content .plansBtn a:hover {
        background: var(--var-very-dark-violet);
        color: white;
    }
    

    /**---HERO SECTION---**/
    .hero {
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        height: 900px;
        justify-content: space-between;
        position: relative;
    }

    .heroImg__mobile {
        display: none;
    }

    .hero__copy .heroImg__desktop {
        display: flex;
        width: 100%;
        max-width: 560px;
        margin-left: 55%;
        margin-top: -445px;

    }

    .background__desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        min-width: 300px;
        height: auto;
        margin-top: -760px;
    }

    div.background__desktop img{
        width: 23%;
    }
    

    .hero__copy {
        text-align: left;
        width: 100vw;
        height: 600px;
        background: var(--var-dark-violet);
        position: relative;
    }

    .hero__copy h1, p, .heroBtn {
        margin-left: 150px;
    }

    .hero__copy h1{
        margin-top: 110px;
        font-size: 4rem;
    }


    .hero__copy p {
        width: 550px;
    }

    .h1Span::after {
        content: "\a";
        white-space: pre;
    }

    .pSpan::after {
        white-space: normal;
    }

    .hero__copy .hero__hr {
       display: block;
        position: absolute;
        z-index: 99;
        margin: 40px 0px 40px 150px;
        border: 1px solid white;
        height: 1px;
        width: 200px;
    }
    
    .heroBtn:hover {
        color: var(--var-very-dark-violet);
        background-color: white;
    }

    .bgBottom__mobile {
        display: none;
    }

    img.bgBottom__desk {
        display: inline-block;
        position: absolute;
        width: 80%;
        max-width: 200px;
        height: 500px;
        margin-top: 420px;
        z-index: 10;
    }


    /**---MAIN CONTENT---**/
   .main__section {
       text-align: left;
       margin: 0px 160px;
   }

   .main__section .main__hr {
       margin: 0px;
   }

   .main__title {
       margin-top: 150px;
   }

   .features {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding-top: 40px;
       padding-bottom: 100px;
   }

   .feature__one, 
   .feature__two,
   .feature__three {
       display: block;
       margin-left: 0px;
       padding-right: 5vw;
   }

   .icon__1, .features p {
       margin: 0px;
   }
    

   /**---CTA SECTION---**/
   .cta__section {
       margin: 0px  0px 50px -100px;
   }

   .cta__content {
       background-image: url(./images/bg-pattern-intro-right-desktop.svg);
       background-size: 40%;
       background-position: 105% -150px;
       height: 350px;
       width: 90%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       text-align: left;
   }

   .cta__content h1 {
        padding: 0px 50px;
        font-size: 3rem;
   }

   .ctaSpan::after {
       content: "\a";
       white-space: pre;
   }

   .cta {
       margin-right: 120px;
       margin-top: 80px;
       padding: 0px 50px;
       height: 50px;
   }

   .cta:hover {
       color: var(--var-very-dark-violet);
       background-color: white;
   }

   /**---FOOTER SECTION---**/
   footer {
       background-image: url(./images/bg-pattern-footer-desktop.svg);
       background-color: var(--var-light-gray);
       background-repeat: no-repeat;
       background-size: 900px 400px;
       background-position: -60px 0px;;
   }

   .branding__content {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       background: transparent;
       height: 200px;

   }

   .branding__content .logo {
       width: 220px;
       height: 100px;
       margin-left: 140px;
       margin-top: 70px;
   }

   .social__media {
       padding: 100px 130px;
   }

   .social__media a {
       position: relative;

   }

   .social__media a svg{
       width: 24px;
       height: 24px;
       margin: 10px;
   }

   .social__media a path:hover {
       fill: var(--var-very-dark-violet);
       transition: .2s ease-in all;
   }

   .hr__footer {
    margin-top: 10px;
   }
    
   .footer__links {
       display: flex;
       justify-content: space-between;
       margin: auto 350px auto 130px;
   }

   .footer__links ul li {
    text-align: left;
   }

   .footer__links ul li:hover{
       text-decoration: underline;
   }



    
}










